*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/* margin style */
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.sadia{
    color: rgb(199, 94, 3);
}
nav .menu{
    display: flex;
    list-style: none;
    gap:51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color:rgb(99, 89, 77);
    text-decoration: none;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding:18px 35px;
    border-radius :5px;
    font-weight: 800;
}
header{
    background-color: #ecddd3;
    padding-top: 50px;
}
nav{
    width:71% ;
    max-width: 1140px;
    border: none;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}