*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/* margin style */
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.sadia{
    color: rgb(199, 94, 3);
}
nav .menu{
    display: flex;
    list-style: none;
    gap:51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color:#474747;
    text-decoration: none;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding:15px 30px;
    border-radius :5px;
    font-weight: 800;
    cursor: pointer;
}
header{
    background-color: #f0eeec;
    padding-top: 50px;
    background: url(../images/developer.png),url(../images/header_bg.png),#f0eeec;
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}

nav{
    width:71% ;
    max-width: 1140px;
    border: none;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner{
    max-width: 1140px;
    border: none;
    margin:47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width: 585px;
    align-items: center;
    /* width:43%; */
}
#banner .banner-content h2{
    font-size: 40px;
    font-weight: 500;
    color: #474747;
    margin-bottom: 5px;
    margin-top: 40px;
}
#banner .banner-content h1{
    font-size: 80px;
    font-weight:bold ;
    color: #181818;
    margin-bottom: 15px;
}
#banner .banner-content p{
    font-size: 18px;
    color:#cf9748;
    line-height: 25px;
    margin-bottom: 25px;
}
.banner-content,
.banner-image{
    flex: 1;
}
.banner-image img{
    width: 100%;
    max-width: 585px;
}